<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuewen.mix_stack">

    <application>
        <activity
            android:name=".component.MXFlutterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
